<div class="row">
    <div id="reset" class="col s6 offset-s3">

        {{#if resetPasswordError}}
            <p class="alert">{{resetPasswordError}}</p>
        {{/if}}

        <h1>Сброс пароля</h1>

        <form action="/auth/password" method="POST">
            <div class="input-field">
                <input id="password" name="password" type="password" class="validate" required>
                <label for="password">Введите пароль</label>
                <span class="helper-text" data-error="Введите новый пароль"></span>
            </div>
            <div class="input-field">
                <input id="repeat" name="repeat" type="password" class="validate" required>
                <label for="repeat">Введите пароль еще раз</label>
                <span class="helper-text" data-error="Повторите пароль пароль"></span>
            </div>

            <input type="hidden" name="_csrf" value="{{csrf}}">
            <input type="hidden" name="token" value="{{token}}">
            <input type="hidden" name="userId" value="{{userId}}">

            <button type="submit" class="btn btn-primary">Сбросить</button>
        </form>
    </div>
</div>